footer {
    background-color: #222;
    color: var(--background);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 1.1rem;
    margin-top: auto;
}

section {
    flex: 1;
}

.center {
    text-align: center;
    align-self: center;
}

.right {
    text-align: right;
}